* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    margin: auto;
    margin-top: 0px;
    box-shadow: 2px 2px 5px #5b6065;
    padding: 20px 30px;
    border-radius: 30px;
    
}

/*large screen*/
@media only screen and (min-width: 992px) {
    .form-login  {
        width: 70%;
    }
}
