* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.form-login {
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 10%;
    box-shadow: 2px 2px 5px #808B96;
    padding: 20px 30px;
    border-radius: 30px;
}