* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-registro {
    width: 600px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 2px 2px 5px #808B96;
    padding: 20px 30px;
    border-radius: 30px;
}

.logo{
    width: 338px;
}